* {
    padding: 0;
    margin: 0;
}

html,
body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    font-family: Helvetica, sans-serif;
}

header {
    display: grid;
    align-items: center;
    text-align: start;
    padding-left: 20px;
    height: 100px;
    background-color: #2E4057;
    color: white;
    box-shadow: 0 0 20px 0px rgb(154, 154, 154);

}

main {
    /* background-color: #D8D0C1; */
    min-height: 100vh;
}

.cards {
    padding: 2.5rem 2rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.card {
    background-color: #CFDBD5;
    border-radius: 20px;
    box-shadow: 0 0 4px 0px rgb(154 154 154 / 14%);
    padding: 20px;
    max-width: 300px;
}

.content {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: #242423;
    gap: 15px;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}

.card button {
    padding: 10px;
    border: none;
    border-radius: 10px;


}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 6px 3px rgb(154 154 154 / 31%);
}

.btn {
    font-size: rem;
    display: flex;
    gap: 10px;
    justify-content: end;
}

.btn button {
    background-color: rgb(120, 120, 255);
    color: white;
    padding: 10px;
    font-size: 1rem;

}

.btn button:hover {
    background-color: rgb(91, 91, 255);
}

.add {
    position: fixed;
    height: 5rem;
    width: 5rem;
    bottom: 50px;
    right: 50px;
    font-size: 4rem;
    border: none;
    border-radius: 20px;

}

.add:hover {
    background-color: #e9e9e9;
}

footer {
    background-color: #2E4057;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: auto;
    box-shadow: 0 0 20px 0px rgb(154, 154, 154);
}

dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    width: 40vh;
    padding: 20px 0;
    border: none;
    border-radius: 20px;
    background-color:#E8EDDF;
    box-shadow: 0 0 20px 0px rgb(154, 154, 154);
}

dialog::-webkit-scrollbar {
    display: none;
}

dialog .book-details input {
    margin-bottom: 10px;
    width: 90%;
}

dialog form {
    font-size: 1.4rem;
    text-align: center;
}

fieldset {
    margin: 20px 0;
    border: none;
}

form input {
   border: none;
    font-size: 1.2rem;
}
form button {
    margin-top: 15px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
}

dialog .close {
    position: absolute;
    top: 1%;
    right: 1%;
    padding: 10px;
    border: none;
    background-color: transparent;
    border-radius: 10px;
}

.close:hover {
    background-color: #ffffff29;
}

@media(max-width:500px) {
    .cards {
        display: flex;
        flex-direction: column;
    }

    .card {
        flex: 1;
        min-height: 200px;

    }

    .content {
        font-size: 1.8rem;
    }

    header {
        height: 100px;
    }

    footer {
        height: 100px;
    }

    .add {
        height: 4rem;
        width: 4rem;
        font-size: 2rem;
    }

    dialog {
        height: 55vh;
    }
}

@media(max-width:1024px) {
    .cards {

        grid-template-columns: repeat(4, 1fr);
    }
}